<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.axcel.hardware">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/final_icone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.axcel.hardware.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.axcel.hardware.CameraActivity"
            android:label="Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.Wifistatus"
            android:label="Wifi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.AndroidGPSTrackingActivity"
            android:label="GPS Status"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.Telephony"
            android:label="Telephony"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.bettery"
            android:label="Battery Information"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.Multitouch"
            android:label="Mutitouch Test"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.Systeminfo"
            android:label="System Information"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.camerahard"
            android:label="Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.sensers"
            android:label="Sensors"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.Accelerometer"
            android:label="Accelerometer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.proximity"
            android:label="Proximity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.axcel.hardware.gps" />
        <activity
            android:name="com.example.axcel.hardware.cpu"
            android:label="CPU Information"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.Home_Screen"
            android:label="Home Screen "
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.axcel.hardware.Home_Screen" />
        </activity>
        <activity
            android:name="com.example.axcel.hardware.Myapplication"
            android:label="My Applications"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.MainActivity"
            android:label="Manual Test"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.axcel.hardware.Autotest"
            android:label="Automatic Test" />
        <activity android:name="com.example.axcel.hardware.Loading" />

        <service
            android:name="com.example.axcel.hardware.Job"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.example.axcel.hardware.MyStartServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.axcel.hardware.QuickActivity"
            android:label="Quick Test" />
        <activity android:name="com.example.axcel.hardware.PercentageLoading" />

        <receiver android:name="com.example.axcel.hardware.Alarm" />

        <activity
            android:name="com.example.axcel.hardware.EditDialogue"
            android:label="@string/title_activity_edit_dialogue"
            android:theme="@style/AppTheme.NoActionBar.Dialogue" />
        <activity
            android:name="com.example.axcel.hardware.About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar.Dialogue"></activity>
    </application>

</manifest>